body {
  background-color: rgb(184, 166, 255);
  font-family: 'Courier New', monospace;
}

.div1 {
    display: flex;
}

.scrollable {
    overflow: auto;
    width: 125px;
    height: 150px;
    border: 1px solid #ccc;
    padding: 10px;
    margin-right: 10px;
  }

.scrollableSorteio {
    overflow: auto;
    width: 230px;
    height: 150px;
    border: 1px solid #ccc;
    padding: 10px;
    margin-right: 10px;
  }
  
  